@model KidKinder.Entities.Contact
@{
    ViewBag.Title = "MessageDatail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="card">
                    <div class="card-header">
                        <h5>Mesajlar</h5>
                        <span>Gönderen : <strong class="font-weight-bold">@Model.NameSurname</strong> </span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">

                        <div class="row">
                            <div class="col-md-6">
                                <p class="font-weight-bold">Email :</p>
                                <p>@Model.Email</p>
                            </div>
                            <div class="col-md-6">
                                <p class="font-weight-bold">Gönderim Tarihi:</p>
                                <strong>@Model.SendDate.ToString("dd MMMM yyyy HH:mm")</strong>
                            </div>
                        </div>

                        <div class="mt-4">
                            <p class="font-weight-bold">Mesaj :</p>
                            <p>@Model.Message</p>
                        </div>
                        <div class="mt-5">
                            <a href="/AdminContact/Index/" class="btn btn-primary btn-round">< Mesaj Listesine Geri Dön</a>
                            <a href="/AdminContact/DeleteMessage/@Model.ContactId" class="btn btn-outline-danger">Sil</a>
                            @if (Model.IsRead == false)
                            {
                                <a href="/AdminContact/Isread/@Model.ContactId" class="btn btn-warning btn-round">Okundu Olarak İşaretle</a>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
