@model List<KidKinder.Entities.Branch>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="card">
                    <div class="card-header">
                        <h5>Branşlar</h5>
                        <span>Branş listesi</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table table-hover mb-3">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>#</th>
                                        <th>Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td><a href="/AdminBranch/DeleteBranch/@item.BranchId" class="btn btn-danger btn-round">Sil</a></td>
                                            <td><a href="/AdminBranch/UpdateBranch/@item.BranchId" class="btn btn-info btn-round">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminBranch/CreateBranch/" class="btn btn-primary btn-round">+ Yeni Branş Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

